
.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.pyc
.DS_Store
.vscode/
.idea/
*.log

*.egg-info/
build/
dist/

data/**
!data/annotations/
!data/annotations/**
!**/.gitkeep
models/
reports/
